.pageHome{
    &_cardContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_flotingActionButton{
        color: $pa-accent;
        background-color: $pa-white;
        
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

        &:hover{
            background-color: darken($pa-white, 4%);
        }

        &:active{
            animation-name: clickRemovesShadow;
            animation-duration: 20ms;
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
        }
    }
}

@media(max-width:$mobileWidth){
    .pageHome{
        &_flotingActionButton{  
            bottom: 1rem;
            right: 1rem; 
        }
    }
}

@keyframes clickRemovesShadow {
    0% {box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);}
    100%{box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);}
}