.pageLogin {
    width: 100%;
    height: 100vh;
    &_Logo {
        object-fit: cover;
        display: flex;
        justify-content: center;
    }

    &_Logo img {
        max-height: 50vh;
        min-height: rem-calc(150px);
        margin: 1rem;
    }

    &_divider{
        height: 70%;
        width: 0;
        border: 1px solid $black;
        margin: 0 6rem;
    }

    &_flexContainer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &_Form {
        display: flex;
        flex-direction: column;
        object-fit: cover;
    }
}

.button_LogIn, .button_SignUp {
    width: rem-calc(300px);
    height: rem-calc(40px);

    text-align: center;
     
    margin: rem-calc(10px) rem-calc(15px) rem-calc(10px) rem-calc(15px);

    font-size: 1.5rem;
}

.button_SignUp {
    background-color: $pa-grey;
    color: $white;
    border: none;
}

@media(max-width:$tabletWidth) {
	.pageLogin {
		&_divider {
			display: none;
        }

		&_Form, &_Logo {
            margin: 1rem 3rem;
        }
        
        &_Form{
            margin-top: -1rem;
        }

	}
}

