$transparent: rgba(0,0,0,0);
$pa-mossgreen: #3d6d37;
$pa-accentgreen: #4F772D;
$pa-white: #f7fff6;
$pa-accent: #f9a620;
$pa-secondAccent: #628395;
$pa-dark: #030311;
$white: #FFFFFF;
$black: #000000;
$pa-grey: #444444; 


$drawerwidth: 240px;
$tabletWidth: 800px;
$mobileWidth: 450px;